<div class="group-01">
    <div class="group-02 flex">
        <input type="password"  name="password" class="sign-input" placeholder="Digite sua senha" minlength="5" required>
        <span id="visible-password-emoji" class="emoji-input">👁️</span>
        <span id="input-password-emoji" class="emoji-input"></span>
    </div>
</div>