<div class="group-01">
  <div class="group-02 flex">
    <input type="text" name="name" class="sign-input" placeholder="Digite seu nome" minlength="4" required>
    <span id="input-name-emoji" class="emoji-input"></span>
  </div>
</div>