<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/pages/index.css">
    <link rel="stylesheet" href="/styles/partials/menu-bugger.css" >
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
        rel="stylesheet" />

    <title>JobsCalc - Home</title>
</head>

<body id="page-home">
    <%- include('parts/headers/page-home.ejs',{page:"home"}) %>
        <main class="container">
            <section class="alignment-center justify-text">
                <h2>Gerencie  Seus Jobs <br>De Forma Fácil</h2>
                <p class="p-style-01">
                    O Jobs Calc é uma aplicação moderna que permite que você possa 
                    calcular o custo e prazo dos seus projetos. A aplicação permite que 
                    o usuário interaja com seus projetos e monitore os prazos. Faça o cadastro 
                    em tenha uma ferramenta fantástica no gerenciamento dos seus Jobs.
                </p>
            </section>
            <section class="alignment-center">
                <img src="images/Job hunt-amico.svg" alt="">
                <a class="off-link" href="https://storyset.com/job">Illustration by Freepik Storyset</a>
            </section>
        </main>
        <script src="/scripts/menu-bugger.js"></script>
</body>

</html>